<div>
    <p class="text-center">{{ section.settings.message }}</p>
</div>

{% schema %}
    {
        "name": "announcement",
        "settings": [
        {
            "type": "text",
            "id": "message",
            "label": "Announcement Text",
            "default": "Free delivery up to 1000 TK order   "
        }
        ]
    }
{% endschema %}
