div#shopify-section-sections--18999715201089__announcement {
    background: #ddd;
    padding: 10px;
}
div#shopify-section-sections--18999715201089__announcement p.text-center {
    font-size: 13px;
}