div#shopify-section-sections--19001395871809__announcement {
    background: #ddd;
    padding: 10px;
}
div#shopify-section-sections--19001395871809__announcement p.text-center {
    font-size: 13px;
}